
// Update Bulma's global variables
// $primary: beige;
// $link: beige;

// Update some of Bulma's component variables
$control-border-width: 2px;
// $input-background-color: beight;

// Import the rest of Bulma
@import "../../node_modules/bulma/";


body {
    margin: 0;

    > header {
        background: beige;
        padding: 2rem;
        a {
            color: $dark;
        }
        .navbar {
            background: beige;
        }
    }
    
    > main {
        padding: 2rem;
    }
}

.navbar {
    border-bottom: 2px solid beige;
}


.message-item {
    > header {
        color: $grey;
        font-size: smaller;
        margin-bottom: 1em;
    }
}

.inbox-back-link {
    margin-top: 4.5rem;
    padding-top: 2.5rem;
    border-top: 1px solid $white-ter;
}